<strong>Olá, {{ deliveryman }}</strong>
<p>NOVO CANCELAMENTO DE ENTREGA!</p>
<p>
  <span>Confira os dados a baixo:</span>
  <br />
  <strong>Entrega: </strong> nº{{ delivery_id }} cancelada
  <br />
  <strong>Produto: </strong> {{ product }}
  <br />
  <strong>Motivo: </strong> {{ problem_description }}
</p>
